.goodsList{
    position:absolute;
    width:var(--conWidth);
    margin-top:30px;
}

.item {
    width:223px;
    height:300px;
    float:left;
    border:1px solid #ccc;
    margin-bottom:20px;
    margin-left:6px;
}

	.item_img {
	    width:223px;
	    height:210px;
	}
	
	.item_container{
	    width:130px;
	    height:80px;
	    float:left;
	}
	
	.item_name{
	    width:130px;
	    height:50px;
	    font-size:14px;
	}
	
	.item_price{
	    width:90px;
	    height:80px;
	    float:left;
	    text-align:right;
	}
	
		.price_cancel{
		    width:90px;
		    height:30px;
		    
		    text-decoration:line-through;
		    color:rgb(138, 138, 138);
		    font-size:13px;
		    line-height:3.0;
		}
		
		.price_sale{
		    width:90px;
		    height:50px;
		
		    font-size:18px;
		    font-weight:bold;
		    line-height:3.0;
		}
	.div_color{
		width:130px;
		height:30px;
	}
		.item_color{
		    border-radius:100%;
		    width:20px;
		    height:20px;
		    margin-left:5px;
		    float:right;
		}

.filter_wrap {
    position:sticky;
    top:40px;
    z-index:2;

    width:var(--conWidth);
    text-align:right;
    font-size:13px;
    line-height:2.1;
}

.filter_list{
    width:var(--conWidth);
    height:200px;
    background-color:white;
    border:1px solid black;
    margin-top:-30px;
}
