/* 공통 변수 선언*/

:root {
	/*페이지 사이즈 관련*/
	--pageFull:100%;
	--pageWidth:1000px;
	--pageHeight1:1000px;
	
	/*본문 길이(section)*/
	--conWidth:700px;
	--conHeight1:1000px;
	
	/* 좌우 여백 */
	--asideWidth:150px;
	
}

/* 기본 틀 */
* {
    margin:0px;
    padding:0px;
}

html,body{
    width:var(--pageFull);
}

a{
    text-decoration:none;
    color:inherit;
}

header {
    width:var(--pageFull);
    height:100px;
}

nav{
    position:sticky;
    top:0px;
    z-index:3;
    
    width:width:var(--pageFull);;
    height:37px;
    border-top:1px solid #ccc;
    border-bottom:2px solid black;
    
    background-color:white;
    text-align:center;
}

section {
    width:var(--pageWidth);
    height:var(--conHeight1);
}

aside {
    float:left;
    width:var(--asideWidth);
    height:var(--conHeight1);

}

article {
    float:left;
    width:var(--conWidth);
    height:var(--conHeight1);
   
}

footer{
	width:var(--pageFull);
	background:black;
}

/* Header.jsp */
.top_logo {
    width:var(--pageWidth);
    margin:0px auto;
    height:100px;
    text-align:center;
}

.logo_div1{
	float:left;
	width:300px;
	height:100px;
}

.logo_div2{
	float:left;
	width:400px;
	height:100px;
}

.img_logo{
    width:100px;
    height:40px;
    
    margin-top:30px;
    margin-left:20px;
}

.searchbar{
    width:400px;
    height:40px;
    font-size:30px;
    
    margin-top:30px;
    border:2px solid #ccc;
    border-radius:30px;
}

.img_mypage{
    width:60px;
    height:60px;
    margin-top:22px;
}


<!--nav.jsp-->
.nav_div{
	width:var(--pageFull);
	margin:0px auto;
}
.nav_ul {
	text-align:center;
    line-height:1.8;
}

.nav_ul li{
    list-style:none;
	display:inline-block; 
	text-align:center;
    font-weight:bold;
    font-size:20px;
    cursor:pointer;
    
    margin:30px;
    margin-top:0px;
    margin-bottom:0px;
}

/* wrap */
.wrap{
	margin:0px auto;
    width:var(--pageWidth);
    height: 1360px;

}

/* footer.jsp */

.ft1{
	width:var(--pageFull);
	margin:0px auto;    
    height:38px;
    text-align:center;
        border-top:1px solid rgb(163, 163, 163);
    border-bottom:1px solid rgb(163, 163, 163);
    margin-top:30px;
}

.ul_ft{
	text-align:center;
    line-height:1.8;
}

.ul_ft li {
	color:#555;
    font-size:14px;
    font-family:'맑은 고딕';
   	display:inline-block; 
	text-align:center;
    list-style:none;
    font-weight:bold;
    
    margin:50px;
    margin-top:5px;
    margin-bottom:0px;
}

.ft2{
	width:var(--pageWidth);
	margin:0px auto;
    height:90px;
    font-size:12px;
    font-family:'맑은 고딕';
    text-align:left;
    padding-top:20px;
	background:black;
}

.ftTitle{
    color:rgb(126, 126, 126);
    font-size:12px;
    font-weight:bold;
    padding-left:10px;
    
}

.ft3{
	width:var(--pageWidth);
	margin:0px auto;
    height:30px;
    color:rgb(158, 158, 158);
    font-size:12px;
    text-align:center;
    padding-top:20px;
    vertical-align: bottom;
    background:black;
}