@charset "UTF-8";

.board_menu{
    width:140px;
    height:var(--contentSize_h1);
    margin-left:10px;
}

.board_main{
    width:var(--contentSize_w);
    height:var(--contentSize_h1);

    border-left:2px solid #ccc;
    border-right:2px solid #ccc;
}

.list_left{
    width:150px;
    margin-bottom:50px;
    list-style:none;
}

.list_left{
    font-size:13px;
}

.list_left li{
    padding-left: 5px;
    padding-top:5px;
    padding-bottom:5px;
}

.list_left_title{
    font-size:17px;
    font-weight:bold;
}